/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.accessontainer{
  width: 100%;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-around;
align-items: center;
display: flex;

  }
      .switch {
        display: inline-block;
        height: 25px;
        position: relative;
        width: 50px;
        margin-top: 0px;
        margin-bottom: 0;
      }

      .switch input {
        display:none;
      }

      .slider {
        background-color: #8cc63f;
        bottom: 1px;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        border: 0px solid grey;
      }

      .slider:before {
        background-color: white;
        bottom: 1px;
        content: "";
        height: 22px;
        left: 1px;
        position: absolute;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        width: 22px;
        border: 0px solid grey;
      }

      input:checked + .slider {
        background-color: #5e921a;
        border: 0px solid #5e921a;

      }


      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
                transform: translateX(26px);
        background-color:white;
        border: 0px solid rgb(56, 55, 55);

      }

      .slider.round {
        border-radius: 12px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

/* chebox number2
-----------------------
-----------------------
-----------------------

*/

.accessontainer1{
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}

.switch1 {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 60px;
  margin-top: 3px;
  margin-bottom: 0;
}

.switch1 input {
  display:none;
}

.slider1 {
  background-color: grey;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: 2px solid grey;
}

.slider1:before {
  background-color: white;
  bottom: 1.2px;
  content: "";
  height: 14px;
  left: 2px;
  position: absolute;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  width: 15px;
  border: 2px solid grey;
}

#checkbox2:checked + .slider1 {
  background-color: rgb(56, 55, 55);
  border: 2px solid rgb(56, 55, 55);

}


#checkbox2:checked + .slider1:before {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  background-color:white;
  border: 2px solid rgb(56, 55, 55);

}

.slider1.round1 {
  border-radius: 12px;
}

.slider1.round1:before {
  border-radius: 50%;
}

.checkboxes{
  width: inherit;
width: 10%;
background-color: #f8f9fade;
height: 20px;
float: right;
/* margin-bottom: 1px; */
padding: 10px;
position: absolute;
top: 8%;
right: 0;
/* z-index: 9999999;
}
